<script>
  url = window.location.href.split('/')[3]
  if (!url) url = 'kata_kerja'
  $('#menu li').removeClass("is-active")
  $('#menu li a[href="/'+ url +'"]').parent().addClass("is-active")
</script>
  </body>
</html>
